<%- include('partials/header') %>

<main>

  <h1><%= title %></h1>

  <p>Here are a few of our projects:</p>



    <ul>
      <% service_projects.forEach(project => { %>
        <li>
          <strong><%= new Date(project.project_date).toDateString() %>: <%= project.title %>(<%= project.organization_name %>)</strong> 
  
        </li>
      <% }); %>
    </ul>

  </main>


<%- include('partials/footer') %>